<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mono.Chat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mono.Chat.Properties.Settings>
            <setting name="AuditMessage" serializeAs="String">
                <value>Note: MSN has detected that you are connected to this chat session from the IP address &lt;B&gt;%1&lt;/B&gt;.</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>255, 255, 231</value>
            </setting>
            <setting name="BaseURL" serializeAs="String">
                <value>http://chat.msn.com/</value>
            </setting>
            <setting name="ButtonBackColor" serializeAs="String">
                <value>202, 224, 245</value>
            </setting>
            <setting name="ButtonFrameColor" serializeAs="String">
                <value>102, 153, 255</value>
            </setting>
            <setting name="ButtonTextColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Category" serializeAs="String">
                <value>GN</value>
            </setting>
            <setting name="ChannelLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="ChatHome" serializeAs="String">
                <value>messenger.msnw</value>
            </setting>
            <setting name="CreateRoom" serializeAs="String">
                <value>create.msnw?fMsgr=true&amp;</value>
            </setting>
            <setting name="CreationModes" serializeAs="String">
                <value>f</value>
            </setting>
            <setting name="Feature" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HexRoomName" serializeAs="String">
                <value />
            </setting>
            <setting name="InputBorderColor" serializeAs="String">
                <value>74, 101, 156</value>
            </setting>
            <setting name="InvitationCode" serializeAs="String">
                <value />
            </setting>
            <setting name="Locale" serializeAs="String">
                <value />
            </setting>
            <setting name="Market" serializeAs="String">
                <value>en-us</value>
            </setting>
            <setting name="MessageOfTheDay" serializeAs="String">
                <value>Welcome to MSN Chat! MSN does not control or endorse the content, messages or information found in chat. MSN specifically disclaims any liability with regard to these areas. To review the MSN Chat guidelines, go to http://groups.msn.com/conduct NOTICE: To help protect you from spam, MSN Chat is now available by subscription only. Learn more at http://getchat.msn.com</value>
            </setting>
            <setting name="MSNProfile" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MSNREGCookie" serializeAs="String">
                <value />
            </setting>
            <setting name="NickName" serializeAs="String">
                <value />
            </setting>
            <setting name="NicknameToInvite" serializeAs="String">
                <value />
            </setting>
            <setting name="PassportProfile" serializeAs="String">
                <value />
            </setting>
            <setting name="PassportTicket" serializeAs="String">
                <value />
            </setting>
            <setting name="ResDLL" serializeAs="String">
                <value />
            </setting>
            <setting name="RoomName" serializeAs="String">
                <value>The Lobby</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>dir.irc7.com:6667</value>
            </setting>
            <setting name="SubscriberInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="TopBackHighlightColor" serializeAs="String">
                <value>165, 178, 206</value>
            </setting>
            <setting name="Topic" serializeAs="String">
                <value />
            </setting>
            <setting name="UpsellURL" serializeAs="String">
                <value>subscribe.msnw</value>
            </setting>
            <setting name="URLBack" serializeAs="String">
                <value>messenger.msnw</value>
            </setting>
            <setting name="UserRole" serializeAs="String">
                <value />
            </setting>
            <setting name="WelcomeMsg" serializeAs="String">
                <value />
            </setting>
            <setting name="WhisperContent" serializeAs="String">
                <value>http://chat.msn.com/whisper.msnw</value>
            </setting>
            <setting name="BackHighlightColor" serializeAs="String">
                <value>239, 239, 247</value>
            </setting>
            <setting name="ChatMode" serializeAs="String">
                <value>0</value>
            </setting>
        </Mono.Chat.Properties.Settings>
    </userSettings>
</configuration>